*{
  align-items: left;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  background-color: #00A3FF;
  textalign: left;
}
h4 {
  color: #fff;
  text-align:  center;
  align-items: center;
  align-content: center;
  vertical-align: center;
}

input,

select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: orange;
}
input:focus + .input-icon i {
  color: orange;
}
input:focus + .input-icon:after {
  border-right-color: orange;
}

input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}

input[type="radio"]:checked + label,
input:checked + label:before,



}

}
nav{
  position: fixed;
  background: #FFA500;
  width: 100%;
  padding: 8px 0;
  z-index: 12;
  
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.menu .logo a{
  text-decoration: none;
  color: #000;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 55px;
}
.menu ul li:first-child{
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}



